CLAUDE.md
**/logs
.log
__pycache__/
.egg-info
build/
.venv/
k8s/secret.yaml
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
